@{
    PageData["title"] = "About";
}
<table>
    <tr>
        <td class="AboutMe" valign="top">
            <h2>About Me</h2>
            <p>
                My name is Jack Li and I am currently a student at the University of Waterloo studying Computer Science (co-op) under the faculty of Mathematics.
                I am an experienced young developer and student who is looking to pick up new technologies, with a keen interest in web and mobile development.
            </p>

            <p>
                As a developer, I have been involved in many parts of the software development cycle including design, implementation, bug fixing, testing, deployment, and maintenance.
                With a strong sense of object-oriented programming, I aim to provide solutions that are dynamic, logical, and effective.
            </p>

            <p>To find out more about what I have done, <a href="./resume">click here to view my online resume</a>.</p>
        </td>
        <td>
            <img src="/Images/portrait.jpg" />
        </td>
    </tr>
</table>