@{
    PageData["title"] = "About";
}

<h2>About Me</h2>
<p>My name is Jack Li and I am currently a student at the University of Waterloo studying Computer Science (co-op) under the faculty of Mathematics.
I am an experienced young developer and student who is looking to pick up new technologies, with a keen interest in web and mobile development. </p>
<p>I have worked in many areas of software development, in many different industries. To find out more about what I have done, <a href="./resume">click here to view my online resume</a>.</p>