
@{
    PageData["title"] = "Home";
}

<h2>Welcome!</h2>
<p>Hi, my name is Jack Li, and this is my personal site. New content will be updated soon, but for now, click <a href="./about">here</a> to learn more about me, or click <a href="./resume">here</a> to view my resume.</p>